.fix {
  height: 53px;
  width: 250px;
  color: #fff !important;
  text-align: center;
  padding: 11px;
  font-size: 20px;
}
.align-center-flex {
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
}
