<div>
  <a class="btn btn-primary" routerLink='/admin/products/new'>New Product</a>
</div>
<br>
<div>
  <input (keyup)="filter(searchQuery.value)" #searchQuery type="text" class="form-control" placeholder="Search...">
</div>

<data-table
  [items]="items"
  [itemCount]="itemsCount"
  (reload)="reloadItems($event)"
>

  <data-table-column
    [property]="'title'"
    [header]="'Title'"
    [sortable] = "true"
    [resizable] = "true"
  >
  </data-table-column>

  <data-table-column
  [property]="'price'"
  [header]="'Price'"
  [sortable] = "true"
  [resizable] = "true"
  >
    <ng-template #dataTableCell let-item="item">
      {{item.price | currency:'INR':true}}
    </ng-template>
  </data-table-column>

  <data-table-column
  [property]="'$key'"
  >
    <ng-template #dataTableCell let-item="item">
        <a [routerLink]="['/admin/products',item.$key]">Edit</a>
    </ng-template>
  </data-table-column>

</data-table>
