<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" [routerLink]="['/']">OShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['cart']">Shopping Cart</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['login']">Login</a>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" ngbDropdownToggle>Username</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" [routerLink]="['myorders']">My Orders</a>
          <a class="dropdown-item" [routerLink]="['admin','orders']">Manage Orders</a>
          <a class="dropdown-item" [routerLink]="['admin','products']">Manage Products</a>
          <a class="dropdown-item" [routerLink]="['']">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
