<div class="align-center-flex">
  <div class="card row col-md-8">
    <div class="card-body">

      <h1 class="card-text">Login <i class="fa fa-sign-in" aria-hidden="true"></i></h1>
      <hr>
      <div class="align-center-flex">
        <div class="form-group">
          <button class="btn btn-primary btn-login facebook" (click)="loginFacebook()">Login with Facebook</button>
        </div>
        <div class="form-group">
          <button class="btn btn-info btn-login google" (click)="loginGoogle()">Login with Google</button>
        </div>
      </div>
    </div>
  </div>
</div>
