<h1>Shopping Cart</h1>
<ng-container *ngIf="(cart$ | async) as cart;">
  <ng-container *ngIf="cart.totalItemCount > 0; else noCart">
    <p>You Have {{cart.totalItemCount}} items in your cart</p>
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Qty</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.items">
          <td>{{item.product.title}}</td>
          <td>{{item.qty}}</td>
          <td>{{item.totalPrice | currency:'INR':true}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="table-secondary">
          <th>Total Price: </th>
          <th></th>
          <th>{{cart.totalPrice | currency:'INR':true}}</th>
        </tr>
      </tfoot>
    </table>
  </ng-container>

</ng-container>



<ng-template #noCart>
  <p>You don't have any item in your cart</p>
</ng-template>
