<form>

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title">
  </div>

  <div class="form-group">
    <label for="price">Price</label>
   <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="number" class="form-control" id="price">
   </div>
  </div>
  <div class="form-group">
    <label for="catagory">Catagory</label>
    <select name="" id="catagory" class="form-control">
      <option value=""></option>
    </select>
  </div>
  <div class="form-group">
    <label for="imageUrl">Image URL</label>
    <input type="text" class="form-control" id="imageUrl">
  </div>

  <button class="btn btn-primary">Save</button>

</form>
